{% extends "base.html" %}
{% load static %}
{% load bag_tools %}


{% block content %}

<!-- Navigation bar -->
{% include 'navbar.html' %}

<section class="container mt-4">

    <h2>Shopping Cart
        <hr>
    </h2>

    {% if bag_items %}

    <table class="table">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">Product</th>
                <th scope="col">Quantity</th>
                <th scope="col">Subtotal</th>
            </tr>
        </thead>
        <tbody>
            {% for item in bag_items %}
            <tr>
                <td class="w-25">
                    <img class="img-fluid bag-img" src="{{ item.product.image.url }}" alt="Products Image">
                </td>
                <td>{{ item.product.name }}</td>
                <td>
                    <form class="form update-form" method="POST" action="{% url 'update_bag' item.item_id %}">
                        {% csrf_token %}
                        <div class="form-outline me-1 d-inline-block">
                            <input type="number" name="quantity" value="{{ item.quantity }}" min="1" max="99"
                                data-item-id="{{ item.item_id }}" class="form-control qty_input"
                                id="id_qty_{{ item.item_id }}" />
                        </div>
                    </form>
                    <a class="update-link text-info"><small>Update</small></a>
                    <a class="remove-item text-danger float-right"
                        id="remove_{{ item.item_id }}"><small>Remove</small></a>
                </td>
                <td>€{{ item.product.price | calc_subtotal:item.quantity }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="w-50 mx-auto text-center pt-2">
        <h3>Cart Summary
            <hr>
        </h3>
        <strong>Cart Total: €{{ total | floatformat:2 }}</strong>
        {% if grand_total > 30 %}
        <s><p>Delivery: €5.00 </p></s>
        <p>Delivery: €0.00 </p>
        {% else %}
        <p class="text-success">Free Deliveries over €30!"</p>
        <p>Delivery: €5.00 </p>
        {% endif %}
        <p><strong>Grand Total: €{{ grand_total | floatformat:2 }}</strong></p>
    </div>
    {% else %}

    <p><strong>Your Shopping Cart is empty!</strong></p>


    {% endif %}


</section>

{% endblock %}
{% block postloadjs %}
{{ block.super }}

<script type="text/javascript">
    // Update item quantity on click
    $('.update-link').click(function(e) {
        var form = $(this).prev('.update-form');
        form.submit();
    })
    // Remove item and reload on click
    $('.remove-item').click(function(e) {
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('remove_')[1];
        // var itemId = "{{ item.item_id }}";
        var url = `/bag/remove/${itemId}`;
        var data = { 'csrfmiddlewaretoken': csrfToken };

        $.post(url, data)
        .done(function() {
            location.reload();
        })
    })
</script>
{% endblock %}