{% extends "base.html" %}
{% load static %}


{% block content %}

<!-- Navigation bar -->
{% include 'navbar.html' %}

<!-- Image carousel -->
<div id="carouselExampleIndicators" class="carousel slide w-75 mx-auto my-4 rounded" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
        <!-- <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
            aria-label="Slide 3"></button> -->
    </div>

    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="{{ MEDIA_URL }}bouquet-tulips.jpg" class="d-block w-100" alt="A tuplip bouquet with text on top">
            <div class="slider-text">
                <h1 class="py-2 carousel-title display-3">Welcome to Best Buds!</h1>
                <p class="py-1">We have flowers for every setting!
                </p>
                <p>
                    Free Delivery if you spend more than €30!
                </p>
                <a href="{% url 'products' %}" class="btn btn-dark my-1">Shop now</a>
            </div>
        </div>
        <!-- <div class="carousel-item">
            <img src="/media/flower-table.jpg" class="d-block w-100" alt="...">
        </div> -->
        <div class="carousel-item">
            <img src="{{ MEDIA_URL }}potted-indoor-plants.jpg" class="d-block w-100"
                alt="An assortment of indoor cacti">
            <div class="slider-text-indoor-plant w-100">
                <h1 class="py-2 carousel-title display-3 mx-auto">Check out our Indoor Plants!</h1>
                <p>We have a fresh new selection of Indoor Plants to brighten up the inside of any home</p>
                <a href="{% url 'products' %}?type=IP" class="btn btn-success my-3">Check it out here!</a>
            </div>
        </div>
    </div>

    <!-- Previous slide button -->
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <!-- Next slide button -->
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<hr class="w-50 mx-auto my-3">

<!-- Collections -->
<section class="container">

    <div class="p-3 rounded top-color">
        <h2>Browse our Collections!</h2>
        <div class="row">

            <div class="col-lg-4 col-md-6 mb-4">
                <a href="{% url 'products' %}?type=SP" class="text-reset text-decoration-none">
                    <div class="content-color border border-dark rounded">
                        <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
                            data-mdb-ripple-color="light">
                            <img src="{{ MEDIA_URL }}flower.jpg" class="img-fluid products-image"
                                alt="A purple flower" />
                        </div>
                        <div class="card-body">
                            <h2 class="card-title m-2">Specials/Accessories</h2>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-md-6 mb-4">
                <a href="{% url 'products' %}?type=BQ" class="text-reset text-decoration-none">
                    <div class="content-color border border-dark rounded">
                        <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
                            data-mdb-ripple-color="light">
                            <img src="{{ MEDIA_URL }}bouquet.jpg" class="img-fluid products-image"
                                alt="Colourful bouquet of flowers" />

                        </div>
                        <div class="card-body">
                            <h2 class="card-title m-2">Bouquets</h2>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-md-6 mb-4">
                <a href="{% url 'products' %}?type=IP" class="text-reset text-decoration-none">
                    <div class="content-color border border-dark rounded">
                        <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
                            data-mdb-ripple-color="light">
                            <img src="{{ MEDIA_URL }}indoor-plant.jpg" class="img-fluid products-image"
                                alt="A variety of indoor plants" />
                        </div>
                        <div class="card-body">
                            <h2 class="card-title m-2">Indoor Plants</h2>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <hr class="w-50 mx-auto my-3">

    <div class="p-3 rounded content-color">
        <div class="row">
            <div class="col-md-6">
                <img src="{{ MEDIA_URL }}about-us-flowers.jpg" alt="Two people holding a bouquet of flowers"
                    class="img-fluid detail-image">
            </div>
            <div class="col-md-6 text-center my-3">
                <h2>About Us</h2>
                <hr class="w-50 mx-auto">
                <p class="w-75 mx-auto pt-3">Here at Best Buds, we love plants!
                    <br>
                    From finding that perfect bouquet that tells that
                    special someone how
                    you feel, to getting that new indoor plant to brighten up your home interior.
                    We are committed to offering only the finest floral arrangements and gifts, backed by service that
                    is friendly and prompt. Our fantastic, comprehensive online flower service will help you in your
                    busy life
                    and bridge geographical distance, making it easy
                    for you to make that connection with the special people
                    in your life with the gift of bespoke flowers.
                </p>
            </div>
        </div>

</section>
{% endblock %}