{% extends "base.html" %}
{% load static %}


{% block content %}

<!-- Navigation bar -->
{% include 'navbar.html' %}

<section class="container mt-4">

    <div class="details rounded">
        <div class="row text-center p-3">
            <div class="col-md-6 mb-4">
                <img src="/media/wedding-flowers.jpg" class="img-fluid detail-image" alt="" />
            </div>

            <div class="col-md-6 mb-4">
                <h2>Weddings</h2>
            </div>
        </div>
    </div>
    </div>
</section>

{% endblock %}