:root {
    --background: #f9f3e6;
    --content: #ddc6aa;
    --top: #8fb996;
    --light: #ffdad8;
}

html {
    height: 100%;
}

body {
    background-color: var(--backround);
}

.top-color {
    background-color: var(--top);
}

.content-color {
    /* background-color: var(--top); */
    background-color: var(--content);
}

.lighter-color {
    background-color: var(--light);
}

/* Ensures content and footer take up 100% of page height */
.flex-wrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
}

.navbar {
    background-color: var(--top);
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
}

/* Carousel Styling */
#carouselExampleIndicators {
    max-height: 30rem;
    overflow: hidden;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
}

.carousel-item {
    object-fit: contain;
    bottom: 0%;
}

.dancing-font {
    font-family: 'Dancing Script', cursive;
}

/* Caption text */
.slider-text {
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    left: 40%;
    top: 15%;
    text-align: center;
    align-items: center;
}

.slider-text-indoor-plant {
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    top: 10%;
    text-align: center;
    align-items: center;
}

footer {
    clear: both;
    z-index: 1;
    width: 100%;
    text-align: center;
    color: black;
    padding: 1em;
    margin-top: 2em;
    bottom: 0;
    position: relative;
}

/* Image Styling */
.card-image,
.bag-img {
    max-width: 100%;
    height: 12rem;
    object-fit: contain;
    overflow: hidden;
}

.products-image {
    width: 100%;
    height: 30rem;
    object-fit: cover;
}

.detail-image {
    width: 100%;
    max-height: 30rem;
    object-fit: contain;
}

/* Background colour for funeral section */
.funeral-color {
    background-color: #c6cbc9;
}


.update-link,
.remove-item {
    cursor: pointer;
}

/* Toasts */
.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
    height: 20rem;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}


/* Product Form */
.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 0;
}

/* Review section */

/* Hide Radio button */
.rate>input {
    display: none;
}

.rate {
    display: inline-block;
    ;
    border: 0;
}

.rate>label {
    float: right;
}

/* Showing the stars */
.rate>label:before {
    display: inline-block;
    font-size: 1.1rem;
    font-family: FontAwesome;
    content: "\f005";
    margin: 0;
    padding: 0.3rem .2rem;
    cursor: pointer;
}

/* Half star */
.rate .half:before {
    content: "\f089";
    position: absolute;
    padding-right: 0;
}

/* Click and hover */
input:checked~label,
label:hover~label {
    color: #ffb503;
}

/* hover hightlight */
input:checked+label:hover,
input:checked~label:hover,
input:checked~label:hover~label,
label:hover~input:checked~label {
    color: #cc9000;
}

/* Media Queries */

/* Selects which navbar to render based on screen size */
@media screen and (max-width:992px) {
    #large-screen-navbar {
        display: none;
    }

    /* Prevents navbar overlapping content */
    body {
        padding-top: 2.5rem;
    }

    /* Prevents sort button being hidden by navbar */
    .sort-by {
        margin-top: 2rem;
    }
}

/* Removes small-screen navbar on large screens */
@media screen and (min-width:993px) {
    #small-screen-navbar {
        display: none;
    }
}


@media screen and (max-width:880px) {

    /* Hides carousel on small screens */
    #carouselExampleIndicators {
        display: none;
    }

    .products-image {
        height: 10rem;
    }

    /* Prevents wider images from cutting off at side of product card */
    .card-image {
        width: 85%;
    }

    /* Expands comment section on small screens */
    .comment {
        width: 75%;
    }
}

/* Removes carousels small-screen substitute on large screens */
@media screen and (min-width:880px) {
    .home-details {
        display: none;
    }
}