:root {
    /* --background: #f9f3e6;
    --top: #FFD3B6;
    --content: #e5c3b1; */
    --background: #f9f3e6;
    --content: #ddc6aa;
    --top: #8fb996;
}

html {
    height: 100%;
}

body {
    background-color: var(--backround);
}

.navbar {
    /* background-color: var(--top); */
    background-color: var(--top);
}

/* .account-icon {
    overflow: hidden;
} */

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
}

#carouselExampleIndicators {
    max-height: 30rem;
    overflow: hidden;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
}

.carousel-item {
    object-fit: contain;
    bottom: 0%;
}

.carousel-title {
    font-family: 'Dancing Script', cursive;
}

/* Caption text */
.slider-text {
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    left: 40%;
    bottom: 50%;
    text-align: center;
    align-items: center;
}

.slider-text-indoor-plant {
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    left: 20%;
    bottom: 50%;
    text-align: center;
    align-items: center;
}

.top-color {
    background-color: var(--top);
}

.content-color {
    /* background-color: var(--top); */
    background-color: var(--content);
}


.card-image,
.bag-img {
    max-width: 100%;
    height: 12rem;
    object-fit: contain;
    overflow: hidden;
}

.products-image {
    width: 100%;
    height: 30rem;
    object-fit: cover;
}

.detail-image {
    width: 100%;
    max-height: 30rem;
    object-fit: contain;
}

.lighter-color {
    background-color: #ffdad8;
}

.funerals {
    background-color: #c6cbc9;
    /* color: whitesmoke; */
}

.update-link,
.remove-item {
    cursor: pointer;
}

/* Toasts */
.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
    height: 20rem;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* .card {
    background-color: var(--middle);
} */