html {
    height: 100%;
}

/* .navbar {
    background-color: #FF9bdB;
} */


#carouselExampleIndicators {
    max-height: 30rem;
    overflow: hidden;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
}

.carousel-item {
    object-fit: cover;
}

.card-image {
    max-width: 100%;
    height: 12rem;
    object-fit: cover;
}