{% extends "base.html" %}
{% load static %}


{% block content %}

<!-- Navigation bar -->
{% include 'navbar.html' %}

<!-- Blog post -->
<section class="container mt-4">

    <div class="w-75 p-3 m-1 mx-auto border border-dark lighter-color rounded">
        <h1>{{ post.title }}</h1>
        <small>-{{ post.date_created }}</small>
        <br>
        <p><strong>{{ post.intro }}</strong></p>
        <p>{{ post.body }}</p>
        <!-- Admin can delete post -->
        {% if request.user.is_superuser %}
        <a href="{% url 'delete_post' post.slug %}" class="btn btn-sm btn-danger float-end">Delete Post</a>
        {% endif %}

    </div>

</section>

<!-- Leave a comment -->
<section class="container mt-4">

    <div class="w-50 p-5 mx-auto border border-dark top-color rounded">
        {% if user.is_authenticated %}
        <!-- Comment form -->
        <form method="POST">
            {% csrf_token %}
            <h5>Leave us a comment</h5>
            <div>
                <div>
                    {{ form.body | as_crispy_field }}
                    <!-- User must be logged in to comment -->
                    <button class="btn btn-sm btn-success float-end" type="submit">Comment!</button>
                </div>
                <br>
            </div>
        </form>
        {% else %}
        <p>Sorry! You have to be logged in to leave comments</p>
        <a href="{% url 'account_login' %}" class="btn btn-sm btn-dark">Login</a>
        {% endif %}
</section>

<!-- Display of comments -->
<section class="container mt-4">
    <h2 class="text-center">Comments</h2>
    <hr class="w-50 mx-auto">
    {% if post.comments.all %}
    {% for comment in post.comments.all %}
    <div class="w-50 p-3 m-1 mx-auto border border-dark lighter-color rounded">
        <strong>{{ comment.user }}</strong>
        <small>-{{ comment.date_created }}</small>
        <br>
        <p>{{ comment.body }}</p>
    </div>
    {% endfor %}
    {% else %}
    <!-- If there is no comments -->
    <div class="text-center">
        <strong>No comments yet!</strong>
        <hr class="w-50 mx-auto">
    </div>
    {% endif %}
</section>

{% endblock %}