{% extends "base.html" %}

{% block content %}

<!-- Navigation bar -->
{% include 'navbar.html' %}

<section class="container mt-4">

    <div class="lighter-color rounded">
        <div class="row text-center p-3">
            <div class="col-md-6 mb-4">
                <img src="/media/flower-heart.jpg" class="img-fluid detail-image" alt="" />
            </div>

            <div class="col-md-6 mb-4">
                <div class="allauth-form-inner-content w-50 mx-auto">
                    {% block inner_content %}
                    {% endblock %}
                </div>
            </div>
        </div>
</section>
{% endblock %}