{% load static %}

<!-- Large screen navbar -->
<nav id="large-screen-navbar" class="navbar navbar-expand-lg text-center border">
    <div class="w-100">
        <div class="text-center">
            <div class="row w-100 mx-auto">
                <div class="col-4 d-flex">

                    <!-- Search Bar -->
                    <form method="GET" action="{% url 'products' %}" class="w-50 mx-auto mt-3">
                        <div class="input-group">
                            <input type="search" class="form-control" name="q" placeholder="Search for products"
                                aria-label="Search" aria-describedby="search-addon" />
                            <span class="input-group-text border-0" id="search-addon">
                                <i class="fas fa-search"></i>
                            </span>
                        </div>
                    </form>

                </div>

                <!-- Brand Logo -->
                <div class="col-4">
                    <a href="{% url 'home' %}">
                        <img src="{{ MEDIA_URL }}best-buds-logo.png" class="rounded-circle border border-dark"
                            height="100">
                    </a>
                </div>

                <!-- Cart icon with current total -->
                <div class="col-4 mt-4">
                    <li class="list-inline-item">
                        <a href="{% url 'view_bag' %}" class="link-dark m-2"><i class="fa-solid fa-cart-shopping"></i>
                            €{{ total }}
                        </a>
                    </li>
                </div>
            </div>
        </div>

        <div class="row w-50 mx-auto text-center pt-1">
            <ul class="navbar-nav p-0">
                <!-- Link to home page -->
                <li class="nav-item col">
                    <a class="nav-link" href="{% url 'home' %}">Home</a>
                </li>

                <!-- Products type dropdown menu -->
                <li class="nav-item col dropdown">
                    <a class="nav-link dropbtn" href="{% url 'collections' %}" data-bs-hover="dropdown"> Collections
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'products' %}"> All Products </a></li>
                        <li><a class="dropdown-item" href="{% url 'products' %}?type=SP"> Specials/Accessories </a></li>
                        <li><a class="dropdown-item" href="{% url 'products' %}?type=BQ"> Bouquets </a></li>
                        <li><a class=" dropdown-item" href="{% url 'products' %}?type=IP"> Indoor Plants
                            </a>
                        </li>
                    </ul>
                </li>
                <!-- Occasions page -->
                <li class="nav-item col">
                    <a class="nav-link" href="{% url 'occasions' %}">Occasions</a>
                </li>
                <!-- Blog section link -->
                <li class="nav-item col">
                    <a class="nav-link" href="{% url 'blog_posts' %}">Best Blogs</a>
                </li>
                <!-- Account dropdown menu -->
                <li class="nav-item col dropdown">
                    <a class="nav-link dropbtn" href="{% url 'account' %}" data-bs-hover="dropdown">Accounts
                    </a>
                    <ul class="dropdown-menu">
                        {% if request.user.is_authenticated %}
                        {% if request.user.is_superuser %}
                        <li><a href="{% url 'add_product' %}" class="dropdown-item">Product Management</a></li>
                        {% endif %}
                        <li><a href="{% url 'account' %}" class="dropdown-item">My Account</a></li>
                        <li><a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a></li>
                        {% else %}
                        <li><a href="{% url 'account_signup' %}" class="dropdown-item">Register</a></li>
                        <li><a href="{% url 'account_login' %}" class="dropdown-item">Login</a></li>
                        {% endif %}
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Small screen navbar -->
<nav id="small-screen-navbar" class="navbar navbar-expand-lg fixed-top mb-5">
    <div class="container-fluid">
        <a class="navbar-brand dancing-font" href="{% url 'home' %}">
            <h1>Best Buds</h1>
        </a>
        <!-- Cart icon with current total -->
        <div>
            <li class="list-inline-item">
                <a href="{% url 'view_bag' %}" class="link-dark m-2"><i class="fa-solid fa-cart-shopping"></i>
                    €{{ total }}
                </a>
            </li>
        </div>
        <!-- Dropdown button -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <!-- Search bar -->
                <form method="GET" action="{% url 'products' %}" class="d-flex mt-1" role="search">
                    <input class="form-control me-2" name="q" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-sm btn-outline-success" type="submit">Search</button>
                </form>
                <!-- Home link -->
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
                </li>
                <!-- Products dropdown -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Products
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'collections' %}">Collections</a></li>
                        <li><a class="dropdown-item" href="{% url 'products' %}?type=SP">Specials/Accessories</a></li>
                        <li><a class="dropdown-item" href="{% url 'products' %}?type=BQ">Bouquets</a></li>
                        <li><a class="dropdown-item" href="{% url 'products' %}?type=IP">Indoor Plants</a></li>
                    </ul>
                </li>
                <!-- Occasions link -->
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'occasions' %}">Occasions</a>
                </li>
                <!-- Accounts dropdown -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-hover="dropdown">Accounts
                    </a>
                    <ul class="dropdown-menu">
                        {% if request.user.is_authenticated %}
                        {% if request.user.is_superuser %}
                        <li><a href="{% url 'add_product' %}" class="dropdown-item">Product Management</a></li>
                        {% endif %}
                        <li><a href="{% url 'account' %}" class="dropdown-item">My Account</a></li>
                        <li><a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a></li>
                        {% else %}
                        <li><a href="{% url 'account_signup' %}" class="dropdown-item">Register</a></li>
                        <li><a href="{% url 'account_login' %}" class="dropdown-item">Login</a></li>
                        {% endif %}
                    </ul>
                </li>
                <!-- Blog section link -->
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'blog_posts' %}">Best Blogs</a>
                </li>
            </ul>
        </div>
    </div>
</nav>