{% extends "base.html" %}
{% load static %}


{% block content %}

<!-- Navigation bar -->
{% include 'navbar.html' %}


<section class="container">

    <br>
    <div class="text-center">
        <div class="row">



            <h2 class="col-6"></h2>

            <li class="col-6 dropdown">
                <p>Sort By</p>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="{% url 'products' %}?sort=price&direction=asc"> Price(Low to
                            High) </a></li>
                    <li><a class="dropdown-item" href="{% url 'products' %}?sort=price&direction=desc"> Price(High to
                            Low) </a></li>
            </li>
            </ul>
            </li>
        </div>

        <div class="row">

            {% if products %}
            {% for product in products %}
            <div class="col-lg-3 col-md-6 mb-4">
                <a href="{% url 'product_details' product.id %}">
                    <div class="card">
                        <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
                            data-mdb-ripple-color="light">
                            <img src="{{ product.image.url }}" class="img-fluid card-image rounded m-2" />
                            <a href="#!">
                            </a>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title mb-2">{{ product.name }}</h5>
                            <p>{{ product.get_type_display }}</p>

                            <h6 class="mb-3 price">€{{ product.price }}</h6>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
            {% else %}
            <div class="mt-5">
                <h2>No Results</h2>
                <br>
                <p>Sorry! Your search doesn't match anything we have at the moment.</p>
                {% endif %}
            </div>
        </div>
</section>


{% endblock %}