{% extends "base.html" %}
{% load static %}


{% block content %}

<!-- Navigation bar -->
{% include 'navbar.html' %}


<section class="container mt-4">
    <!-- Displays all products information -->
    <div class="content-color rounded">
        <div class="row text-center p-3">
            <div class="col-md-6 mb-4">
                <img src="{{ product.image.url }}" class="img-fluid detail-image" alt="" />
            </div>

            <div class="col-md-6 mb-4">
                <h2 class="py-2">{{ product.name }}
                    <hr class="w-75 mx-auto pt-2">
                </h2>

                <div>
                    <strong>
                        <p>Description</p>
                    </strong>

                    <p class="w-75 mx-auto"> {{ product.description}} </p>
                    <br>
                </div>
                <p>
                    <strong>€{{ product.price }}</strong>
                </p>

                <div class="mx-auto w-50">
                    <form class="mx-auto" action="{% url 'add_to_bag' product.id %}" method="POST">
                        {% csrf_token %}
                        <div class="form-outline me-1 d-inline-block">
                            <label for="quantity">Quantity:</label>
                            <input type="number" name="quantity" value="1" min="1" max="99"
                                data-item-id="{{ product.id }}" class="form-control qty_input"
                                id="id_qty_{{ product.id }}" />
                        </div>
                        <button class="btn d-block mx-auto mt-3 border border-dark" type="submit">
                            Add to cart
                            <i class="fas fa-shopping-cart"></i>
                        </button>
                        <input type="hidden" name="redirect_url" value="{{ request.path }}">
                    </form>
                    <!-- Link for admin to edit/delete product -->
                    {% if request.user.is_superuser %}
                    <div class="row">
                        <a href="{% url 'edit_product' product.id %}" class="col-6 text-success"><small>Edit</small></a>
                        <a href="{% url 'delete_product' product.id %}"
                            onclick="return confirm('Are you sure you want to delete?');"
                            class="col-6 text-danger float-right"><small>Delete</small></a>
                    </div>
                    {% endif %}
                </div>
                <a class="btn border border-dark float-lg-start mt-3" href="{% url 'products' %}"><i
                        class="fa-solid fa-arrow-left"></i> Keep Shopping</a>
            </div>
        </div>
    </div>
    </div>
</section>

<!-- Leave a review section -->
<section class="container mt-4">

    <div class="w-75 p-5 mx-auto border border-dark lighter-color rounded">

        <form action="{% url 'product_details' product.id %}" method="POST">
            {% csrf_token %}
            <h5>Write Your Review</h5>

            <div>
                {% if user.is_authenticated %}
                <!-- Rating stars -->
                <label>How do you rate this product?</label>
                <br>
                <div class="rate">
                    <input type="radio" name="rating" id="rating10" value="5" required /><label for="rating10"
                        title="5"></label>
                    <input type="radio" name="rating" id="rating9" value="4.5" required /><label for="rating9"
                        title="4.5" class="half"></label>
                    <input type="radio" name="rating" id="rating8" value="4" required /><label for="rating8"
                        title="4"></label>
                    <input type="radio" name="rating" id="rating7" value="3.5" required /><label for="rating7"
                        title="3.5" class="half"></label>
                    <input type="radio" name="rating" id="rating6" value="3" required /><label for="rating6"
                        title="3"></label>
                    <input type="radio" name="rating" id="rating5" value="2.5" required /><label for="rating5"
                        title="2.5" class="half"></label>
                    <input type="radio" name="rating" id="rating4" value="2" required /><label for="rating4"
                        title="2"></label>
                    <input type="radio" name="rating" id="rating3" value="1.5" required /><label for="rating3"
                        title="1.5" class="half"></label>
                    <input type="radio" name="rating" id="rating2" value="1" required /><label for="rating2"
                        title="1"></label>
                    <input type="radio" name="rating" id="rating1" value="0.5" required /><label for="rating1"
                        title="0.5" class="half"></label>
                </div>
                <div>
                    {{ product_review_form.title | as_crispy_field }}
                    {{ product_review_form.review | as_crispy_field }}
                    <button class="btn btn-sm btn-success float-end" type="submit">Submit review</button>
                </div>
                {% else %}
                <p>Log in to leave reviews!</p>

                <a href="{% url 'account_login' %}" class="btn btn-sm btn-success">Login</a>
                {% endif %}
                <br>
            </div>
        </form>
</section>

<!-- Display of reviews -->
<section class="container mt-4">
    <h2 class="text-center">Customer Reviews</h2>
    <hr class="w-50 mx-auto">
    {% if reviews %}
    {% for customer_review in reviews %}
    <div class="w-50 p-3 m-1 mx-auto border border-dark lighter-color rounded">
        <strong>{{ customer_review.title }}</strong>
        <small>-{{ customer_review.user }}</small>
        <br>
        <small>{{ customer_review.rating }} stars</small>
        <p>
            {{ customer_review.review }}
            <!-- User can delete their own reviews -->
            {% if user.name == review.user_id %}
            <a href="{% url 'delete_review' customer_review.id %}"
                onclick="return confirm('Are you sure you want to delete?');"
                class="btn btn-sm btn-danger float-end">Delete
                Review</a>
            {% endif %}
        </p>
    </div>
    {% endfor %}
    {% else %}
    <!-- Message if there are no reviews -->
    <div class="text-center">
        <strong>No reviews yet!</strong>
        <hr class="w-50 mx-auto">
    </div>
    {% endif %}
</section>

{% endblock %}

{% block postloadjs %}
{{ block.super }}
<!-- Removes flex wrapper on this page as it was adding too much height on large screens -->
<script type="text/javascript">
    $(document).ready(function () {
        $('.flex-wrapper').removeClass('flex-wrapper');
    });
</script>
{% endblock %}