{% extends "base.html" %}
{% load static %}


{% block content %}

<!-- Navigation bar -->
{% include 'navbar.html' %}


<section class="container mt-4">

    <div class="details rounded">
        <div class="row text-center p-3">
            <div class="col-md-6 mb-4">
                <img src="{{ product.image.url }}" class="img-fluid detail-image" alt="" />
            </div>

            <div class="col-md-6 mb-4">
                <h2 class="py-2">{{ product.name }}
                    <hr class="w-75 mx-auto pt-2">
                </h2>

                <div>
                    <strong>
                        <p>Description</p>
                    </strong>

                    <p class="w-75 mx-auto"> {{ product.description}} </p>
                    <br>
                </div>
                <p>
                    <strong>€{{ product.price }}</strong>
                </p>

                <div class="mx-auto w-50">
                    <form class="mx-auto">
                        <div class="form-outline me-1 d-inline-block">
                            <label for="quantity">Quantity:</label>
                            <input type="number" value="1" class="form-control" id="quantity" />
                        </div>
                        <button class="btn d-block mx-auto mt-3 border border-dark" type="submit">
                            Add to cart
                            <i class="fas fa-shopping-cart"></i>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
{% endblock %}