{% extends "base.html" %}
{% load static %}


{% block content %}

<!-- Navigation bar -->
{% include 'navbar.html' %}


<section class="container">
    <div class="text-center">
        <!-- List of products -->

        <div class="row w-100">
            <div class="col my-2">
                <!-- Sort products dropdown button -->
                <button class="sort-by float-end btn dropdown-toggle border border-dark" type="button"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    Sort By
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="{% url 'products' %}?sort=price&direction=asc"> Price(Low to
                            High) </a></li>
                    <li><a class="dropdown-item" href="{% url 'products' %}?sort=price&direction=desc"> Price(High
                            to
                            Low) </a></li>
                    </li>
                    <li><a class="dropdown-item" href="{% url 'products' %}?sort=name&direction=asc"> Title (A-Z) </a>
                    </li>
                    <li><a class="dropdown-item" href="{% url 'products' %}?sort=name&direction=desc"> Title (Z-A) </a>
                    </li>
                    <li><a class="dropdown-item" href="{% url 'products' %}?type=SP"> Type(Specials/Accessories) </a>
                    </li>
                    <li><a class="dropdown-item" href="{% url 'products' %}?type=BQ"> Type(Bouquets) </a></li>
                    <li><a class=" dropdown-item" href="{% url 'products' %}?type=IP"> Type(Indoor Plants)
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="row">

            {% if products %}
            {% for product in products %}
            <div class="col-lg-3 col-md-6 mb-4">
                <a href="{% url 'product_details' product.id %}">
                    <div class="content-color rounded py-2">
                        <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
                            data-mdb-ripple-color="light">
                            <img src="{{ product.image.url }}" class="img-fluid card-image rounded m-2" />
                            <a href="#!">
                            </a>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title mb-2">{{ product.name }}</h5>
                            <p>{{ product.get_type_display }}</p>

                            <h6 class="mb-3 price">€{{ product.price }}</h6>
                            {% if request.user.is_superuser %}
                            <div class="row">
                                <a href="{% url 'edit_product' product.id %}"
                                    class="col-6 text-success"><small>Edit</small></a>
                                <a href="{% url 'delete_product' product.id %}" class="col-6 text-danger float-right"
                                    id=""><small>Delete</small></a>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
            {% else %}
            <!-- If no products meet search query -->
            <div class="mt-5">
                <h2>No Results</h2>
                <br>
                <p>Sorry! Your search doesn't match anything we have at the moment.</p>
                {% endif %}
            </div>
        </div>
</section>


{% endblock %}